body{
	font-family: "Century Gothic",Calibri,serif;
	font-size: 13px;
	margin: 0px;
	padding: 0px;
}

h1{
	font-size: 40px;
	font-weight: normal;
	text-align: center;
}
header{
	width: 100px;
}
footer{
	height: 80px;
	text-align: center;
	padding-top: 30px;
	background-color: #C5C5C5;
	border-top: 2px solid #AAA;
}
nav{
	width: 100%;
	background-color: #424548;
}
nav ul{
	margin: 0px;
	padding: 0px;
}
nav li{
	list-style-type: none;
	float: left;
}
nav a{
	display: inline-block;
	text-decoration: none;
	padding: 20px 30px;
	color: #FFF; 
	text-transform: uppercase;
	font-size: 13px;
}
.table{
	display: table;
	margin: 0px;
}